.main-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;   /* Szerokość okna przeglądarki */
  height: 100vh;  /* Wysokość okna przeglądarki */
  object-fit: cover; /* To najważniejszy punkt: wypełnia ekran, ucinając nadmiar */
  z-index: -1;
}

h1 {
  font-family: 'Pirata One', cursive; /* Dokładnie taka nazwa jak z Google Fonts */
  font-size: 4rem;
  color: white;
}
body {
  margin: 0;
  height: 100vh;
  background: black; /* Ciemne tło */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  text-align: center;
  background: rgba(255, 255, 255, 0.05); /* Delikatne "szkło" */
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.2);
}
.socials {
  display: flex;
  justify-content: center;
  gap: 20px; /* Odstęp między ikonkami */
  margin-top: 20px;
  font-size: 24px; /* Wielkość ikonek */
}

.socials a {
  color: white;
  transition: 0.3s;
}

.socials a:hover {
  color: #ff00ff; /* Kolor przy najechaniu myszką */
  transform: scale(1.2); /* Powiększenie przy najechaniu */
}